= link_to I18n.t("Roadclouding"), root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to(I18n.t('Logout'), destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to(I18n.t('Login'), new_user_session_path)
  - if user_signed_in?
    %li
      = link_to(I18n.t('Edit account'), edit_user_registration_path)
  - else
    %li
      = link_to(I18n.t('Sign up'), new_user_registration_path)
  %li#about
    = link_to(I18n.t('About'), about_path)
  %li#download
    = link_to(I18n.t('Download'), "#")
  %li#carrier
    = link_to(I18n.t('Carrier'), carrier_path)
  %li#follow
    = link_to(I18n.t('Follow'), follow_path)
/  %li
/    %br
/    %table
/      %tr
/        %td
/          = link_to(I18n.t('English'), {:locale=>'en'})
/        %td
/          = link_to(I18n.t('Chinese'), {:locale=>'zh_CN'})      